// ============================================================================
//   ______     ______     __         ______     ______     ______
//  /\  ___\   /\  __ \   /\ \       /\  __ \   /\  == \   /\  ___\
//  \ \ \____  \ \ \/\ \  \ \ \____  \ \ \/\ \  \ \  __<   \ \___  \
//   \ \_____\  \ \_____\  \ \_____\  \ \_____\  \ \_\ \_\  \/\_____\
//    \/_____/   \/_____/   \/_____/   \/_____/   \/_/ /_/   \/_____/
//
// ===========================================================================

$pure-white:           rgba(255, 255, 255, 1);
$white:                rgba(250, 250, 240, 1);
$dirty-laundry:        rgba(230, 230, 230, 1);
$light-gray:           rgba(160, 160, 160, 1);
$gray:                 rgba(100, 100, 100, 1);
$black:                rgba(37, 37, 37, 1);

// Shoutout to Materialize for their color palettes
$materialize-green:       rgb(38, 166, 154);
$materialize-green-hover: rgb(43, 187, 173);

// ============================================================================
//  ______     __     ______     ______     ______
// /\  ___\   /\ \   /\___  \   /\  ___\   /\  ___\
// \ \___  \  \ \ \  \/_/  /__  \ \  __\   \ \___  \
//  \/\_____\  \ \_\   /\_____\  \ \_____\  \/\_____\
//   \/_____/   \/_/   \/_____/   \/_____/   \/_____/
//
// ============================================================================

// One size (almost) fits all scale / vertical-rhythm so I don't have to think about it
// °Also applies to font-sizing

$size-12:              8.181rem;
$size-11:              6.854rem;
$size-10:              5.056rem;
$size-9:               4.236rem;
$size-8:               3.125rem;
$size-7:               2.618rem;
$size-6:               1.931rem;
$size-5:               1.618rem;
$size-4:               1.194rem;
$size-3:               1.000rem;
$size-2:               0.738rem;
$size-1:               0.618rem;
$size-max:             8.181rem;
$size-important:       3.125rem;
$size-base:            1.000rem;
$size-min:             0.618rem;

// ===========================================================================
//  ______     ______     ______   ______   __     __   __     ______     ______
// /\  ___\   /\  ___\   /\__  _\ /\__  _\ /\ \   /\ "-.\ \   /\  ___\   /\  ___\
// \ \___  \  \ \  __\   \/_/\ \/ \/_/\ \/ \ \ \  \ \ \-.  \  \ \ \__ \  \ \___  \
//  \/\_____\  \ \_____\    \ \_\    \ \_\  \ \_\  \ \_\\"\_\  \ \_____\  \/\_____\
//   \/_____/   \/_____/     \/_/     \/_/   \/_/   \/_/ \/_/   \/_____/   \/_____/
//
// ===========================================================================
