<header class="site-identity container">
  <img class="identity-logo-image" src="images/logo-image.png" alt="old timey lady pointing" />
  <h1 class="identity-title">
    <div class="tic-tac">Tic-Tac-Toe?</div>
    <div class="oh-no with-attitude">Tic-Tac-Yeeah!</div>
    <div class="identity-tagline">Bringing an all-time classic into the 21st century</div>
  </h1>
</header>
