<header class="fight-card container">
  <div class="home team">
    <h2 class="team-prefix">The Egregious</h2>
    <div class="pluralize">
      <svg height="80" width="80" viewBox="0 0 50 50">
        <use xlink:href="#player-token-X"></use>
      </svg>
    </div>
  </div>
  <div class="versus">vs.</div>
  <div class="away team">
    <h2 class="team-prefix">The Awful</h2>
    <div class="pluralize">
      <svg height="80" width="80" viewBox="0 0 50 50">
        <use xlink:href="#player-token-O"></use>
      </svg>
    </div>
  </div>
</header>
